<?xml version="1.0"?>
<robot name="arrow">
    <link name="arrow">
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <mass value="1" />
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <mesh filename="mesh/GPS_Navigation_Arrow_modified.obj" scale="0.005 0.005 0.005" />
                <!-- <mesh filename="mesh/GPS_Navigation_Arrow.obj" scale="0.005 0.005 0.005" /> -->
                <!-- <mesh filename="mesh/simple_arrow.obj" scale="0.05 0.05 0.05" /> -->
            </geometry>
            <material name="material">
                <color rgba="0.3 0.3 0.3 1" />
            </material>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <box size="0.05 0.05 0.05" />
            </geometry>
        </collision>
    </link>
</robot>